.underline {
    text-decoration: underline;
}

.home_padding {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.align_items_center {
    align-items: center;
}

.error_text {
    color: red;
    font-weight: bold;
    font-size: 14px;
}

.keywords_page {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    /* background-color: red; */
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.keywords_page .top {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}